<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        {{companyName}}
      </div>
      <div class="col-sm-6">
        One of three columns
      </div>
      <div class="col-sm-3">
        <div class="row">
        <div *ngFor="let social of socialNetwork">
          <div *ngIf="social.link">
            <div class="col-sm">
              <a [attr.href]="social.link" target="_blank"><i [ngClass]="social.fafa" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

